<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1> this is a test of bootstrap </h1>
    </div>
    <div class="col-sm-6">
      <h1>More tests</h1>
    </div>
  </div>
</div>

<h1> I am the root </h1>
<h2><%= link_to "New user", new_user_path %></h2>
<h2><%= link_to "New Restaurant", new_restaurant_path %></h2>
<h2><%= link_to "New Reservation", new_reservation_path %></h2>
