

<!-- start of jumbotron -->
<div class="jumbotron">
  <div class="jumbotron_text">
    <h1>Hungry?</h1>
    <a href="/restaurants"><button type="button" class="btn btn-warning btn-lg">MAKE RESERVATION</button></a>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <img src="http://placehold.it/350x350" class="img-thumbnail center-block">
    </div>
    <div class="col-xs-4">
      <img src="http://placehold.it/350x350" class="img-thumbnail center-block">
    </div>
    <div class="col-xs-4">
      <img src="http://placehold.it/350x350" class="img-thumbnail center-block">
    </div>
  </div>
</div>
